* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #020b1a;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020b1a;
}

.logo {
  color: #00f6ff;
}
.logo span {
  color: #00ff9c;
}

.navbar a {
  color: #ffffff;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background: radial-gradient(circle at right, #0ff 0%, #020b1a 60%);
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.hero-text h1 {
  font-size: 60px;
  color: #00f6ff;
}

.hero-text h3 {
  margin: 10px 0;
  color: #00ff9c;
}

.hero-text button {
  margin-top: 20px;
  padding: 10px 25px;
  background: transparent;
  border: 2px solid #00f6ff;
  color: #00f6ff;
  cursor: pointer;
}

.section {
  padding: 60px 80px;
}

.section h2 {
  color: #00f6ff;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.card {
  background: #06142f;
  padding: 20px;
  border-left: 3px solid #00ff9c;
}

.contact {
  background: #06142f;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020b1a;
  color: #777;
}
